body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    color: #222;
    text-align: justify;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

strong {
    color: #B10906;
    font-weight: 600;
}

#basic {
    display: flex;
    justify-content: space-evenly;
}

h1,
h2,
h3 {
    line-height: 1.2;
    color: #B10906;
}

.editable {
    font-size: 12px;
    margin: 0;
    padding: 0;
    resize: none;
    border: 1px solid #222;
    background: #fff;
    width: 200px;
}

#backstory {
    width: 100%;
    min-height: 150px;
}

input[type="number"] {
    background-color: #fff;
    border: 1px solid #222;
    width: 35px;
    color: rgb(197, 8, 83);
    margin-left: 10px;
}

.skill {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#traits-box {
    display: flex;
    flex-direction: column;
    border: 1px solid #222;
    border-radius: 15px;
    padding: 10px;
    height: 110px;
}

#skill-box {
    display: flex;
    flex-direction: column;
    border: 1px solid #222;
    border-radius: 15px;
    padding: 10px;
}